* {
    padding: 0;
    margin: 0;
}

body {
    background-color: yellow;
}

main {
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 100px 50px;
    grid-template-areas: "i1 i1"
                         "i2 i2"
                         "i3 i4"
                         "i5 i5";
}

.div1 {
    background-color: brown;
    grid-area: i1;
}

.div2 {
    background-color: salmon;
    grid-area: i2;
}

.div3 {
    background-color: darkblue;
    grid-area: i3;
}

.div4 {
    background-color: goldenrod;
    grid-area: i4;
}

.div5 {
    background-color: blueviolet;
    grid-area: i5;
}