$Primary-color: #404040;

body {
    background-color: $Primary-color
}

.container {
    width: 80%;
    background-color: #f9f9f9;
    text-align: center;
}

.container > h3 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(173, 167, 167);
}