$Primary-color: #404040;

html {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #999999;
    color: #232323;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #f9f9f9;
}

.banner {
    background-color: blue;
    height: 150px;
}

.menu {
    background-color: crimson;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;

}

.corpo {
    background-color: cadetblue;
    min-height: 350px;
    padding: 35px;
    text-align: justify;
}
.rodape {
    background-color: #404040;
    height: 150px;
}