* {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    }
    body {
        background-color: #5c5c5c;
        color: #232323;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;    
    }
    
    .container {
        width: 80%;
        margin: auto;
        background-color: #f9f9f9;
    
    }
    .banner {
    background-color: rgb(142, 142, 236);
    height: 150px;
    font-weight: bold; 
    text-align: center;
    font-size: 30px;
    
    }

    .banner > img {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.801);
    }

    .menu{
        background-color: rgb(29, 137, 180);
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 25px; 
        padding: 10px; 
        text-align: center;
        color: #f9f9f9;
        font-size: 20px;
        font-weight: bold;
    }

    .menu > a {
        background-color: #023047;
        border-radius: 5px;

    }
    
    .menu a:link,a:visited{
        color: #f9f9f9;
        text-decoration: none;
        padding: 10px 25px;
    }
    .menu a:hover{
        background-color: #7BBDDF;
        transition: 0.5s;
    }
    
    
    .corpo{
        background-color: rgb(194, 194, 194);
        height: 350px;
        padding: 35px;
        min-height: 350px;
        text-align: justify;
    }

    .corpo > p {
        margin-top: 10px;
    }

    .rodape{
        background-color: rgb(194, 194, 194);
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        color: rgb(0, 0, 0);
        //height: 150px;
        font-weight: bold;
        text-align: center;
    }

    .rodape > h3 {
        background-color: #1A2A55;
        color: white;
        font-family: cursive;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .rodape > #div-rodape {
        background-color: #023047;
        font-size: 12px;
        padding: 3px;
        //height: 130px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: left;
    }

    #div-rodape p, ul, li{
        padding: 4px;
    }

    #div-rodape p {
        text-align: center;
        font-family: cursive;
        font-size: 16px;
        color: #7BBDDF;
    }

    #div-rodape a {
        color: #E46B4D;
    }

    #div-rodape a:hover {
        color: #7BBDDF;
    }

    #div-rodape ul {
        columns: 4;
        list-style-position: inside;
        color: #7BBDDF;
    
    }

    .corpo > h3{
        // text-align: center;
        font-size: 25px;
        color: #E46B4D;
        border-radius: 5px;
        padding: 2px;
        background-image: linear-gradient(to right, #1A2A55, rgb(194, 194, 194));
    }
    
    a:link {
        color: #f9f9f9;
    }
    
    a:active{
        color: green;
    }
    a:hover{
        // color: rgb(129, 116, 43);
    }