* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: cornflowerblue;
}

header {
    padding: 20px;
}

header > h3 {
    font-size: 2em;
    font-family: cursive;
    text-align: center;
}

main {
    background-color: white;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}

main > a {
    font-size: 1em;
    font-weight: bold;
    color: blue;
}

div {
    background-color: cornflowerblue;
    border-radius: 10px;
}

img {
    border-radius: 5px;
}

p {
    font-size: 1.5em;
    font-weight: normal;
    font-family: cursive;
}

p > abbr {
    text-decoration: none;
}

hr {
    border-radius: 5px;
}


